absl-py
aiohttp
aiosignal
altair
anaconda-anon-usage
anaconda-cli-base
anaconda-client
anaconda-cloud
anaconda-cloud-auth
anaconda-cloud-cli
annotated-types
appnope
asttokens
astunparse
async-timeout
attrs
blinker
Brotli
cached-property
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
conda-package-handling
conda_package_streaming
cryptography
debugpy
decorator
defusedxml
entrypoints
exceptiongroup
executing
fastjsonschema
flatbuffers
frozenlist
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
importlib_resources
ipykernel
ipython
ipywidgets
jaraco.classes
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_widgets
keras
Keras-Preprocessing
keyring
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
more-itertools
multidict
nbformat
nest_asyncio
numpy
oauthlib
opencv-python
opt-einsum
packaging
pandas
parso
pexpect
pickleshare
pillow
pip
pkce
pkgutil_resolve_name
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
Pygments
PyJWT
pyngrok
pyOpenSSL
PySocks
python-dateutil
python-dotenv
pytz
pyu2f
PyYAML
pyzmq
readchar
referencing
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
scipy
semver
setuptools
shellingham
six
smmap
stack-data
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
toml
toolz
tornado
tqdm
traitlets
typer
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
Werkzeug
wheel
widgetsnbextension
wrapt
yarl
zipp
zstandard
